body{
    background-color: #3652AD;
    font-family: sans-serif;
    color: white;
    margin: 0;
}

.card-kodak{
    background: #280274;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 15px 10px 60px 0 #0007;
}

.card-travis{
    background: #280274;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 15px 10px 60px 0 #0007;
}

.card_title{
    padding-top: 3px;
    font-size: 22px;
    letter-spacing: 15px;
}

.card_subtitle{
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 2px;
    padding-bottom: 3px;
}

.card_content{
    font-size: 12px;
    padding: 20px 20px ;
    background: #FE7A36;
    text-align: justify;
    
}

.card_image_kodak{
    width: 300px;
    height: 350px;
    margin-top: 20px;
    border-radius: 50%;
}

.card_image_travis{
    width: 300px;
    height: 330px;
    margin-top: 20px;
    border-radius: 50%;
    
}